 p{color:whitesmoke} 

.center{
    margin-left: 50%;
}

.center2{
    margin-left: 45%;
}

.center3{
    margin-left: 48%;
}    

.center4{
    margin-left: 37%;
}    

.center5{
    margin-left: 12%;
}

.center6{
    margin-left: 30%;
}